/* Form Styles */


/*************************************
	 +Entry
*************************************/
.required {
    color: blue;
    font-weight: bold;
    font-size: large;
    padding: 0.2em;
}

input
{
    color: blue;
    background: #ffffcc;
    border: 2px solid #ccddee;
    font-size: 18px;
}


.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/png/Knob Info.png');
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/png/Knob Valid Green.png');
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/png/Knob Attention.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/png/Knob Cancel.png');
}

.red { background: red; color: green;}

ul.smaller li {
    list-style-image: url(foaf.png);
}

.clear {
    clear: both;
}
/* FLOW */

#content {
}


/*{{{ very basic styles */


body, p, div, a {
    font-family:"Arial","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana,arial,sans-serif;
    font-size:12px;
}

#content {
    float:left;
    min-height:400px;
    padding:20px;
    width:708px;
    background:#fff url(../images/content_top.png) no-repeat;
    margin-top: 20px;
}

#wrap {
    margin:10px auto;
    width:750px;
}

/* username | logout */

#header {
    margin: 10px;
}

#user {
    margin-right:6px;
    height:10px;
}

#user a {
    font-size:11px;
    text-decoration:none;
    color:#666;
    padding:1px 10px 1px 15px;
    display:block;
    float:right;
}

#user a strong {	
    color:#254558;
}

#user #account {
    background:transparent url(../images/account.png) no-repeat 0 1px;
    padding-left:20px;
}

#user #logout {
    background:transparent url(../images/account.png) no-repeat scroll right -29px;
    padding-right:18px;
}

#user #account:hover {
    background-position:0 -14px !important;
    text-decoration:underline;
}

#user #logout:hover {
    background-position:right -44px !important;
    text-decoration:underline;
    color:red;
}


/*}}}*/



/*{{{ BOXES */




/*{{{ forms */

input.text, textarea {
    padding:3px 4px;
    border:1px inset #ccc;
    font-size:12px;
    -moz-border-radius:3px;
    margin-top:2px;
}

textarea {
    width:98%;
    height:200px;
    padding:6px;
    font-size:13px;
    overflow:auto;
}



/*}}}*/





a {
    color:#295C72;
}




/* TABS */

.searchResults {
    border-bottom:1px solid #00BFF3;
    color:#333333;
    font-size:2.2em;
    margin-bottom:0.2em;
    padding:0 0 5px;
}
.input {
    background:#FFFFCC none repeat scroll 0 50%;
    border:3px solid #CCDDEE;
    color:blue;
    font-size:40px;
    letter-spacing:-2px;
    margin-top:15px;
    padding:3px;
    width:100%;
}

/* Activity Stream */
.activity-favicon {
    float: left;
    border-style: none;
    margin-right: 10px;
}

.chunk {
    border-bottom: 1px solid #eeeeee;
}


.footer {
    margin-top: 30px;
    color: #666666;
    text-align: center;
}

.footnote {
    color: #666666;
}
